@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --pink: #ef5777;
    --white: #fff;
    --black: #222;
    --transparent-white: rgba(255,255,255,.3);
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
}

html{
font-size: 62.5%;
overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: tansparent;

}
html::-webkit-scrollbar-thumb{
    background: var(--pink);

}
body {
    background: url("images/background-img.png") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
border-radius: .5rem;
overflow: hidden;
background: var(--transparent-white);
backdrop-filter: blur(.5rem);
max-width: 1200px;
margin: 10rem auto;
box-shadow: var(--box-shadow);
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    border: var(--border);
    background: var(--transparent-white);
    color: var(--black);
    border-radius: 5rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    margin-top: 1rem;

}

.btn:hover {
    background: var(--black);
    color: var(--white);
}


section {
    padding: 2rem;
}

.header {
    position: relative;
    z-index: 1000;
    background: var(--transparent-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--black);
}

.header .navbar a{
    font-size: 2rem;
margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--pink);
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    display: none; 
}



.home{
    padding-bottom: 0;

}

.home .slide{
    min-height: 60rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 4rem;
}

.home .slide .content {
    background: var(--transparent-white);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    backdrop-filter: blur(.5rem);
    width: 50rem;

}

.home .slide .content h3 {
    font-size: 3rem;
    color: var(--black);
    text-transform: uppercase;
}

.home .slide .content p {
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 2;
}

@keyframes PopUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

.home .swiper-slide-active  .content{
    animation:PopUp slideIn 2s linear backwards .2s;

}

.swiper-pagination {

    bottom: 0 !important;

}

.swiper-pagination-bullet-active {
    background: var(--pink);
}



.footer {
    background: var(--transparent-white);

}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box {
font-size: 2.2rem;
text-transform: uppercase;
color: var(--black);
padding: 1rem 0;
}

.footer .box-container .box a{
display: block;
font-size: 1.5rem;
color: var(--black);
padding: 1rem 0;
}

.footer .box-container .box a i {
color: var(--pink);
padding-right: .5rem;
transition: .2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;

}

.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: var(--border);
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.footer .credit span {
    color: var(--pink);
}










@media (max-width: 1200px) {
    .container {
   margin: 5rem 10rem;
    }
}

    @media (max-width: 991px) {
        html{
            font-size: 55%;
        }
     .container {
        margin: 5rem;
    }
}

    @media (max-width: 768px) {

        #menu-btn {
            display: inline-block;
            transition: .2s linear;
        }

        #menu-btn.fa-times {
            transform: rotate(180deg);
        }

        .header .navbar {
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: var(--black) ;
            border-top: var(--border);
            padding: 2rem;
            clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 0);
        }

        .header .navbar.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% );
        }

        .header .navbar a {
            display: block;
            margin: 2rem;
            text-align: center;
        }
    }


    @media (max-width: 450px) {
        html{
            font-size: 50%;
        }
     .container {
        margin: 2rem;

    }
}